.card{
  border: none;
  border-radius: 10px;

 
} 

.card {
  position: relative;
  height: 220px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);


}



.text-overlay {
  position: absolute;

  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;

  z-index: 2; 
  width:100%;



}



.pic{
  border-radius: 10px 10px 0px 0px;

}


.dot{
    list-style: none;
  }



@media(min-width:992px) and (max-width:1200px){
  .last{
   padding-left: 250px;
   padding-right: 250px;
 
 } 
}
@media(min-width:1200px) and (max-width:1400px){
  .last{
   padding-left: 250px;
   padding-right: 250px;

 } 
} 
@media(min-width:1400px) and (max-width:1600px){
  .last{
   padding-left: 250px;
   padding-right: 250px;

 } 
}